<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./node_modules/angular-material/angular-material.css">
    <link rel="stylesheet" href="./libs/iconfont/material-icons.css">
    <link rel="stylesheet" href="./node_modules/angular-material-data-table/dist/md-data-table.css">
    <title>Hello World!</title>
  </head>
  <body>

    <md-toolbar style="-webkit-app-region: drag" class="md-hue-2" ng-controller="ToolbarCtrl">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-disabled="false">
          <md-icon class="material-icons">menu</md-icon>
        </md-button>
        <h2>
          <span>Members Management System</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="minimize" ng-click="minimize()">
          <md-icon class="material-icons">remove</md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="maximize" ng-click="maximize()">
          <md-icon class="material-icons">web_asset</md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Favorite" ng-click="quit()">
          <md-icon class="material-icons">close</md-icon>
        </md-button>
        <md-menu>
          <md-button aria-label="User profile" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
            <md-icon md-menu-origin class="material-icons">account_circle</md-icon>
          </md-button>
          <md-menu-content width="4">
            <md-menu-item>
              <md-button>
                <md-icon class="material-icons" md-menu-align-target>contact_mail</md-icon>
                Profile
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button>
                <md-icon class="material-icons" md-menu-align-target>vpn_key</md-icon>
                Change password
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>
    </md-toolbar>

    <div ng-controller="MainCtrl">
      <md-button class="md-raised" ng-click="showAlert($event)">Alert</md-button>
      <md-button class="md-raised md-primary" ng-click="showConfirm($event)">Confirm</md-button>
      <md-button class="md-raised md-primary" ng-click="showAddMember()">Add Member</md-button>
      <md-button class="md-raised md-warn">Warn</md-button>

      <md-table-container>
        <table md-table>
          <thead md-head>
            <tr md-row>
              <th md-column>#</th>
              <th md-column>ID</th>
              <th md-column>USERNAME</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row ng-repeat="user in users">
                <td md-cell>{{ $index + 1 }}</td>
                <td md-cell>{{ user.id }}</td>
                <td md-cell>{{ user.name }}</td>
            </tr>
          </tbody>
        </table>

        <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{desserts.count}}" md-on-paginate="getDesserts" md-page-select></md-table-pagination>


      </md-table-container>

    </div>

  </body>

  <script>
    require('angular')
    require('angular-material')
    require('angular-aria')
    require('angular-messages')
    require('angular-animate')
    require('angular-ui-router')
    require('angular-material-data-table')

    require('./renderer.js')
  </script>
</html>
