<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./node_modules/angular-material/angular-material.css">
    <link rel="stylesheet" href="./libs/iconfont/material-icons.css">

    <title>Hello World!</title>
  </head>
  <body>

    <md-toolbar style="-webkit-app-region: drag" class="md-hue-2" ng-controller="ToolbarCtrl">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-disabled="false">
          <md-icon class="material-icons">menu</md-icon>
        </md-button>
        <h2>
          <span>Members Management System</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="minimize" ng-click="minimize()">
          <md-icon class="material-icons">remove</md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="maximize" ng-click="maximize()">
          <md-icon class="material-icons">web_asset</md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Favorite" ng-click="quit()">
          <md-icon class="material-icons">close</md-icon>
        </md-button>
        <md-menu>
          <md-button aria-label="User profile" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
            <md-icon md-menu-origin class="material-icons">account_circle</md-icon>
          </md-button>
          <md-menu-content width="4">
            <md-menu-item>
              <md-button>
                <md-icon class="material-icons" md-menu-align-target>contact_mail</md-icon>
                Profile
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button>
                <md-icon class="material-icons" md-menu-align-target>vpn_key</md-icon>
                Change password
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>
    </md-toolbar>

    <div ng-controller="MainCtrl">
      <md-button class="md-raised" ng-click="showAlert($event)">Alert</md-button>
      <md-button class="md-raised md-primary" ng-click="showConfirm($event)">Confirm</md-button>
      <md-button class="md-raised md-primary" ng-click="showAddMember()">Add Member</md-button>
      <md-button class="md-raised md-warn">Warn</md-button>
    </div>

  </body>

  <script>
    require('angular')
    require('angular-material')
    require('angular-aria')
    require('angular-messages')
    require('angular-animate')
    require('angular-ui-router')

    require('./renderer.js')
  </script>
</html>
